@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #0b456b, #021c37);
}

.clock {
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    background-color: lightgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #05263c, #000d1a);
}

.clock::before {
    content: "";
    width: 95vw;
    height: 95vw;
    max-width: 525px;
    max-height: 525px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, #00d9ff, #ee00ff);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 2.5vw;
    color: #00d9ff;
    text-shadow: 0 0 12px #ee00ff;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot {
    position: absolute;
    width: 5vw;
    height: 5vw;
    max-width: 25px;
    max-height: 25px;
    background-color: #ee00ff;
    border: 1.2vw solid #00d9ff;
    border-radius: 50%;
}

.hour-hand, .minute-hand, .second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    border-radius: 30px 30px 0 0;
}

.hour-hand {
    width: 2.4vw;
    height: 26vw;
    max-width: 12px;
    max-height: 130px;
    background: linear-gradient(#00d9ff, #ee00ff);
}

.minute-hand {
    width: 2.4vw;
    height: 38vw;
    max-width: 12px;
    max-height: 190px;
    background: linear-gradient(to top, #00d9ff, #ee00ff);
}

.second-hand {
    width: 1.2vw;
    height: 42vw;
    max-width: 6px;
    max-height: 210px;
    background: linear-gradient(to top, #00d9ff, #ee00ff);
}

.date-day-container {
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    color: #00d9ff;
    text-shadow: 0 5px 12px #ee00ff;
    margin-top: 20px;
}

#day, #date {
    margin: 5px 50px;
}

/* Media queries for smaller screens */
@media (max-width: 600px) {
    .number {
        font-size: 6vw;
    }
    
    .center-dot {
        width: 4vw;
        height: 4vw;
        border: 1vw solid #00d9ff;
    }

    .hour-hand {
        width: 2vw;
        height: 20vw;
    }

    .minute-hand {
        width: 2vw;
        height: 28vw;
    }

    .second-hand {
        width: 1vw;
        height: 32vw;
    }

    .date-day-container {
        font-size: 4vw;
    }
}
